*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
}
.search{
    font-size: 50px;
    margin:150px;
    color: white;
    text-align: center;

}
input[type="text"]{
    font-family: "Arial";
    margin:10px;
    color: white;
    font-size: 15px;
    padding: 0px 50px;
    border-width: 0.1px;
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    width: 600px;
    height: 45px;
}
input[type="submit"]{
    color: rgb(255, 255, 255);
    background-color: rgb(52, 52, 52);
    padding:8px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52, 52, 52);

}
.menu{
    text-align: right;
    margin:20px;
    justify-content: flex-end;
}
.menu button{
    color :rgb(255, 255, 255);
    border-radius: 50px;
    margin:3px;
    padding:10px;
    border:none;
}
.menu button:hover, input[type="text"]:hover{
    background-color: rgb(62, 62, 62);
    color: rgb(251, 253, 243);
    border:none;
    transition: 0.3s;
    
}
input[type="submit"]:hover{
    border-color: white;
    transition: 0.3s;
}
#imageText{
    position:absolute;
    top:290px;
    left:865px;
    width: 0px;
    height: 0px;
    font-size:45px;
    color: rgb(100, 255, 255);
    font-weight: lighter;
    font-family:'Creattion Demo';

}
